{% extends "base.html" %}

{% block content %}
    <div style="margin-bottom: 20px; margin-left: 20px; margin-right: 20px;">
        <h2>This is your hub for reactive retention</h2>
        <div style="margin-bottom: 20px;">
            <p style="margin-bottom: 10px;">Reactive lapse prevention is essential for maintaining customer satisfaction and loyalty. Every great conversation contributes towards our ambition is to be the world's most customer centric healthcare company - committed to providing excellent customer experiences, through great service and value, frictionless access, and quality healthcare.</p>
        </div>
    </div>
    <div style="display: flex; margin-left: 20px; margin-right: 20px;">
        <!-- Left column for search functionality -->
        <div style="flex: 1; padding-right: 20px;">
            <h3>Search Customer</h3>
            <!-- Search form -->
            <form id="searchForm">
                <label for="registrationId">Registration ID:</label>
                <input type="text" id="registrationId" name="registrationId">
                <button type="button" onclick="searchCustomer()">Search</button>
            </form>
            <!-- Result display -->
            <div id="searchResult"></div>
        </div>

        <!-- Middle column for Know Your Customer -->
        <div id="knowYourCustomer" style="display: none; flex: 1; padding-right: 20px;">
            <h3>Know Your Customer</h3>
            <p>Lapse Propensity: <span id="lapsePropensity"></span></p>
            <p>Customer Lifetime Value: <span id="customerLifetimeValue"></span></p>
            <p>Call Agent: <span id="callAgent"></span></p>
            <p>Discount Eligibility: <span id="discountEligibility"></span></p>
            <p>Annual Premium: <span id="annualPremium"></span></p>
        </div>

        <!-- Right column for tracking outcomes -->
        <div id="trackOutcomes" style="display: none; flex: 1;">
            <h3>Track Outcomes</h3>
            <div style="margin-bottom: 20px;">
                <!-- Hide Logged in as and Current Time -->
                <p id="loggedInAs" style="display: none;">Logged in as: {{ current_user.username }}</p>
                <p id="currentTime" style="display: none;">Current Time: {{ current_time }}</p>
            </div>
            <!-- Outcome tracking form -->
            <form id="outcomeTrackingForm" style="margin-bottom: 20px;">
                <label for="outcome">Outcome:</label>
                <select id="outcome" name="outcome" onchange="checkOutcome()" style="margin-right: 10px;">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Maybe">Maybe</option>
                    <option value="Yes - With STM Override">Yes - With STM Override</option>
                    <option value="No - With STM Override">No - With STM Override</option>
                    <option value="Maybe - With STM Override">Maybe - With STM Override</option>
                </select>
                <!-- STM Name input field -->
                <div id="stmNameField" style="display: none; margin-bottom: 0;">
                    <label for="stmName">STM Name:</label>
                    <input type="text" id="stmName" name="stmName" style="margin-top: 20px;">
                </div>
                <button type="button" onclick="trackOutcome('{{ current_user.username }}', '{{ current_time }}')" style="margin-top: 20px;">Track</button>
            </form>
            <!-- Outcome tracking status -->
            <div id="outcomeStatus"></div>
        </div>
    </div>

    <!-- Static Bupa image -->
    <div id="bupaImage" style="margin: 0 auto; text-align: center; margin-left: 400px;">
        <img src="{{ url_for('static', filename='bupa-health-assessments.png') }}" alt="Bupa Logo" style="width: 500px; margin-top: 20px;">
    </div>

    <script>

        function checkOutcome() {
            var outcome = document.getElementById("outcome").value;
            var stmNameField = document.getElementById("stmNameField");

            // Check if the outcome includes 'STM'
            if (outcome.includes('STM')) {
                stmNameField.style.display = "block";
            } else {
                stmNameField.style.display = "none";
            }
        }

        function searchCustomer() {
            var registrationId = document.getElementById("registrationId").value;

            // Hide the Bupa image
            document.getElementById("bupaImage").style.display = "none";

            // Perform customer lookup by making an AJAX request to the server
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/search_customer?registrationId=" + registrationId, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var searchResultElement = document.getElementById("searchResult");
                    searchResultElement.style.marginTop = "20px"; // Double the spacing size
                    if (xhr.status === 200) {
                        // If customer is found, display information
                        var customerData = JSON.parse(xhr.responseText);
                        if ("error" in customerData) {
                            searchResultElement.innerHTML = "<div style='background-color: #f1efeb; padding: 10px; border-radius: 10px;'>" + customerData.error + "</div>";
                            // Track the outcome of not found
                            trackOutcomeNotFound(registrationId); // Pass registrationId as an argument
                        } else {
                            var discountEligibility = customerData.Discount_Eligibility;
                            var annualPremium = customerData.Annual_Premium;
                            if (discountEligibility === 'eligible') {
                                searchResultElement.innerHTML = "<div style='background-color: #1b883c; color: white; padding: 10px; border-radius: 10px;'>You are eligible for a discount<br>Current Premium: $" + annualPremium + "<br>1-Month Discount: $100<br>New Premium with 1-Month Discount: $" + (annualPremium - 100) + "</div>";
                                // Track the outcome of being eligible
                                trackOutcomeEligible(registrationId); // Pass registrationId as an argument
                            } else {
                                searchResultElement.innerHTML = "<div style='background-color: #db3907; color: white; padding: 10px; border-radius: 10px;'>You are not eligible for a discount</div>";
                                // Track the outcome of not eligible
                                trackOutcomeNotEligible(registrationId); // Pass registrationId as an argument
                            }
                            // Display additional fields
                            document.getElementById("lapsePropensity").textContent = customerData.Lapse_Propensity;
                            document.getElementById("customerLifetimeValue").textContent = customerData.Customer_Lifetime_Value;
                            document.getElementById("callAgent").textContent = customerData.Call_Agent;
                            document.getElementById("discountEligibility").textContent = customerData.Discount_Eligibility;
                            document.getElementById("annualPremium").textContent = customerData.Annual_Premium;

                            // Show the Know Your Customer and Track Outcomes sections
                            document.getElementById("knowYourCustomer").style.display = "block";
                            document.getElementById("trackOutcomes").style.display = "block";
                        }
                    } else {
                        searchResultElement.textContent = "Error occurred while searching for customer";
                    }
                }
            };
            xhr.send();
        }

        function trackOutcomeEligible(registrationId) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome_eligible", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.message);
                }
            };
            xhr.send(JSON.stringify({"registrationId": registrationId}));
        }

        function trackOutcomeNotFound(registrationId) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome_not_found", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.message);
                }
            };
            xhr.send(JSON.stringify({"registrationId": registrationId}));
        }

        function trackOutcomeNotEligible(registrationId) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome_not_eligible", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.message);
                }
            };
            xhr.send(JSON.stringify({"registrationId": registrationId}));
        }

        function trackOutcome(username, time) {
            var registrationId = document.getElementById("registrationId").value;
            var outcome = document.getElementById("outcome").value;
            var stmName = document.getElementById("stmName").value; // Retrieve STM Name value
            var outcomeStatusElement = document.getElementById("outcomeStatus");

            // Fetching additional fields
            var lapsePropensity = document.getElementById("lapsePropensity").textContent;
            var customerLifetimeValue = document.getElementById("customerLifetimeValue").textContent;
            var callAgent = document.getElementById("callAgent").textContent;
            var discountEligibility = document.getElementById("discountEligibility").textContent;
            var annualPremium = document.getElementById("annualPremium").textContent;

            // AJAX request to track outcome
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome?registrationId=" + registrationId, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if ("message" in response) {
                        outcomeStatusElement.innerHTML = "<div style='background-color: #1b883c; color: white; padding: 10px; border-radius: 10px;'>" + response.message + "</div>";
                    } else {
                        outcomeStatusElement.textContent = "Error occurred while tracking outcome";
                    }

                    // Refresh the page after 1 second
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
            };
            xhr.send(JSON.stringify({
                "username": username,
                "time": time,
                "outcome": outcome,
                "stmName": stmName, // Send STM Name
                "lapsePropensity": lapsePropensity, // Send Lapse Propensity
                "customerLifetimeValue": customerLifetimeValue, // Send Customer Lifetime Value
                "callAgent": callAgent, // Send Call Agent
                "discountEligibility": discountEligibility, // Send Discount Eligibility
                "annualPremium": annualPremium // Send Annual Premium
            }));
        }
    </script>
{% endblock %}
