<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}
    <title>Welcome to Retain and Reward</title>
{% endblock %}

{% block content %}
    <div class="content" style="margin: 20px; max-width: 1200px; margin-left: auto; margin-right: auto;">
        <!-- Adding whitespace above the header -->
        <div style="margin-top: 60px;"></div>

        <h3 style="margin-top: 20px; margin-bottom: 20px; text-align: center;">Welcome to Reward and Retain</h3>
        <h1 style="margin-top: 20px; margin-bottom: 20px; text-align: center;">What can we help you with today?</h1>

        <!-- Adding whitespace below the header -->
        <div style="margin-bottom: 80px;"></div>

        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            <div class="box" style="background-color: #ddedf8; flex: 1; padding: 20px; border-radius: 5px; position: relative; height: 225px;">
                <img src="{{ url_for('static', filename='leaders.png') }}" alt="Magnifying Glass" style="width: 50px; position: absolute; top: 10px; left: 10px;">
                <h2 style="margin-top: 60px; font-size: 18px;">Reactive Offers</h2>
                <p style="margin-bottom: 100px;">Retaining our most valuable customers who are on the verge of leaving by offering them tailored incentives, such as allocating 1, 2, or 3 months free.</p>
                <!-- Button at the bottom right -->
                <a href="/reactive" style="position: absolute; bottom: 10px; right: 10px;">
                    <button style="font-family: 'Montserrat', sans-serif; background-color: #0079c8; color: white; border: none; padding: 10px 20px; border-radius: 5px;">Reactive</button>
                </a>
            </div>
            <div class="box" style="background-color: #ddedf8; flex: 1; padding: 20px; border-radius: 5px; margin-left: 10px; position: relative; height: 225px;">
                <img src="{{ url_for('static', filename='magnifying-glass.svg') }}" alt="Heart on Hands" style="width: 50px; position: absolute; top: 10px; left: 10px;">
                <h2 style="margin-top: 60px; font-size: 18px;">Proactive Contact</h2>
                <p style="margin-bottom: 100px;">Contacting our customers to ensure that they are aware of our offerings, happy with our services and reinforcing the value-for-money.</p>
                <!-- Button at the bottom right -->
                <a href="/proactive" style="position: absolute; bottom: 10px; right: 10px;">
                    <button style="font-family: 'Montserrat', sans-serif; background-color: #0079c8; color: white; border: none; padding: 10px 20px; border-radius: 5px;">Proactive</button>
                </a>
            </div>
            <div class="box" style="background-color: #ddedf8; flex: 1; padding: 20px; border-radius: 5px; margin-left: 10px; position: relative; height: 225px;">
                <img src="{{ url_for('static', filename='hands.svg') }}" alt="Hands" style="width: 50px; position: absolute; top: 10px; left: 10px;">
                <h2 style="margin-top: 60px; font-size: 18px;">Win Back Opportunities</h2>
                <p style="margin-bottom: 100px;">Win back lapse prevention aims to re-engage customers who have previously left your service, providing an opportunity to regain their trust and loyalty.</p>
                <!-- Button at the bottom right -->
                <a href="/winback" style="position: absolute; bottom: 10px; right: 10px;">
                    <button style="font-family: 'Montserrat', sans-serif; background-color: #0079c8; color: white; border: none; padding: 10px 20px; border-radius: 5px;">Win Back</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
