{% extends "base.html" %}

{% block content %}

<!-- Apply a CSS reset here to remove any top margin that could be affecting the layout -->
<div style="margin-left: 20px; margin-right: 20px; margin-top: -20px;">

<div style="margin: 0; padding: 0;">

    <!-- Header for Reactive Offers with full width -->
    <!-- Include the picture as the background, adjusted to show a different part of the photo -->
    <div style="text-align: center; padding: 20px; background-image: url('static/online-Playing-catch.png'); background-size: cover; background-position: center 35%; color: white; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; min-height: 200px;">
        <h1>Your Hub for Reactive Retention</h1>
        <p>Retaining our most valuable customers who are on the verge of leaving by offering them tailored incentives, such as allocating 1, 2, or 3 months free.</p>
    </div>

</div>

<!-- Search functionality -->
<div style="max-width: 800px; margin: 0 auto; padding-top: 20px;">
    <h4>Find a Customer</h4>
    <form id="searchForm" style="display: flex; align-items: center; gap: 10px;">
        <input type="text" id="registrationId" name="registrationId" style="width: 500px; height: 34px;">
        <!-- Adjusted button styles to use Montserrat SemiBold -->
        <button type="button" onclick="searchCustomer()" style="width: 100px; height: 34px; font-family: 'Montserrat', sans-serif; font-weight: 500;">Search</button>
        <!-- Adjusted button styles to use Montserrat SemiBold and changed background color -->
        <button type="button" onclick="window.location.reload();" style="width: 100px; height: 34px; background-color: #b72900; color: white; font-family: 'Montserrat', sans-serif; font-weight: 500;">Reset</button>
    </form>
    <div id="searchResult"></div>
</div>

    <!-- Know Your Customer Component -->
    <div id="knowYourCustomer" style="display: none; margin-top: 20px;">
        <h3>Know Your Customer</h3>
        <p>Lapse Propensity: <span id="lapsePropensity"></span></p>
        <p>Customer Lifetime Value: <span id="customerLifetimeValue"></span></p>
        <p>Call Agent: <span id="callAgent"></span></p>
        <p>Discount Eligibility: <span id="discountEligibility"></span></p>
        <p>Annual Premium: <span id="annualPremium"></span></p>
    </div>

    <!-- Track Outcomes Component -->
    <div id="trackOutcomes" style="display: none; margin-top: 20px;">
        <h3>Track Outcomes</h3>
        <form id="outcomeTrackingForm">
            <label for="outcome">Outcome:</label>
            <select id="outcome" name="outcome" onchange="checkOutcome()">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Maybe">Maybe</option>
                <option value="Yes - With STM Override">Yes - With STM Override</option>
                <option value="No - With STM Override">No - With STM Override</option>
                <option value="Maybe - With STM Override">Maybe - With STM Override</option>
            </select>
            <div id="stmNameField" style="display: none;">
                <label for="stmName">STM Name:</label>
                <input type="text" id="stmName" name="stmName">
            </div>
            <button type="button" onclick="trackOutcome('{{ current_user.username }}', '{{ current_time }}')">Track</button>
        </form>
        <div id="outcomeStatus"></div>
    </div>
</div>

<script>

        function checkOutcome() {
            var outcome = document.getElementById("outcome").value;
            var stmNameField = document.getElementById("stmNameField");

            // Check if the outcome includes 'STM'
            if (outcome.includes('STM')) {
                stmNameField.style.display = "block";
            } else {
                stmNameField.style.display = "none";
            }
        }

        function searchCustomer() {
            var registrationId = document.getElementById("registrationId").value;

            // Perform customer lookup by making an AJAX request to the server
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/search_customer?registrationId=" + registrationId, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var searchResultElement = document.getElementById("searchResult");
                    searchResultElement.style.marginTop = "20px"; // Adjust spacing if needed
                    if (xhr.status === 200) {
                        // If customer is found, display information
                        var customerData = JSON.parse(xhr.responseText);
                        if ("error" in customerData) {
                            searchResultElement.innerHTML = `<div style='background-color: #f1efeb; padding: 10px; border-radius: 10px; width: 490px;'>` + customerData.error + `</div>`;
                            // Track the outcome of not found
                            trackOutcomeNotFound(registrationId); // Pass registrationId as an argument
                        } else {
                            var discountEligibility = customerData.Discount_Eligibility;
                            var annualPremium = customerData.Annual_Premium;
                            if (discountEligibility === 'eligible') {
                                searchResultElement.innerHTML = `<div style='background-color: #1b883c; color: white; padding: 10px; border-radius: 10px; width: 490px;'>Eligible for a discount<br>Current Premium: $` + annualPremium + `<br>1-Month Discount: $100<br>New Premium with 1-Month Discount: $` + (annualPremium - 100) + `</div>`;
                                // Track the outcome of being eligible
                                trackOutcomeEligible(registrationId); // Pass registrationId as an argument
                            } else {
                                searchResultElement.innerHTML = `<div style='background-color: #db3907; color: white; padding: 10px; border-radius: 10px; width: 490px;'>Not eligible for a discount</div>`;
                                // Track the outcome of not eligible
                                trackOutcomeNotEligible(registrationId); // Pass registrationId as an argument
                            }
                            // Display additional fields
                            document.getElementById("lapsePropensity").textContent = customerData.Lapse_Propensity;
                            document.getElementById("customerLifetimeValue").textContent = customerData.Customer_Lifetime_Value;
                            document.getElementById("callAgent").textContent = customerData.Call_Agent;
                            document.getElementById("discountEligibility").textContent = customerData.Discount_Eligibility;
                            document.getElementById("annualPremium").textContent = customerData.Annual_Premium;

                            // Show the Know Your Customer and Track Outcomes sections
                            document.getElementById("knowYourCustomer").style.display = "block";
                            document.getElementById("trackOutcomes").style.display = "block";
                        }
                    } else {
                        searchResultElement.textContent = "Error occurred while searching for customer";
                    }
                }
            };
            xhr.send();
        }

        function trackOutcomeEligible(registrationId) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome_eligible", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.message);
                }
            };
            xhr.send(JSON.stringify({"registrationId": registrationId}));
        }

        function trackOutcomeNotFound(registrationId) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome_not_found", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.message);
                }
            };
            xhr.send(JSON.stringify({"registrationId": registrationId}));
        }

        function trackOutcomeNotEligible(registrationId) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome_not_eligible", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.message);
                }
            };
            xhr.send(JSON.stringify({"registrationId": registrationId}));
        }

        function trackOutcome(username, time) {
            var registrationId = document.getElementById("registrationId").value;
            var outcome = document.getElementById("outcome").value;
            var stmName = document.getElementById("stmName").value; // Retrieve STM Name value
            var outcomeStatusElement = document.getElementById("outcomeStatus");

            // Fetching additional fields
            var lapsePropensity = document.getElementById("lapsePropensity").textContent;
            var customerLifetimeValue = document.getElementById("customerLifetimeValue").textContent;
            var callAgent = document.getElementById("callAgent").textContent;
            var discountEligibility = document.getElementById("discountEligibility").textContent;
            var annualPremium = document.getElementById("annualPremium").textContent;

            // AJAX request to track outcome
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/track_outcome?registrationId=" + registrationId, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if ("message" in response) {
                        outcomeStatusElement.innerHTML = "<div style='background-color: #1b883c; color: white; padding: 10px; border-radius: 10px;'>" + response.message + "</div>";
                    } else {
                        outcomeStatusElement.textContent = "Error occurred while tracking outcome";
                    }

                    // Refresh the page after 1 second
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
            };
            xhr.send(JSON.stringify({
                "username": username,
                "time": time,
                "outcome": outcome,
                "stmName": stmName, // Send STM Name
                "lapsePropensity": lapsePropensity, // Send Lapse Propensity
                "customerLifetimeValue": customerLifetimeValue, // Send Customer Lifetime Value
                "callAgent": callAgent, // Send Call Agent
                "discountEligibility": discountEligibility, // Send Discount Eligibility
                "annualPremium": annualPremium // Send Annual Premium
            }));
        }
    </script>
{% endblock %}
